NODE_ENV=development
PORT=8080
CORS_ORIGIN=http://localhost:4200
DB_HOST=localhost
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_SSL=false
DB_SSL_REJECT_UNAUTHORIZED=true
DB_MAX_CONNECTIONS=10
DB_IDLE_TIMEOUT_MS=10000
DB_CONNECTION_TIMEOUT_MS=5000